<h2 class="content-title"><%= l(:label_settings) %></h2>

<%= render_settings_error @setting_errors %>

<%= render_tabs administration_settings_tabs, params[:tab] %>

<% html_title(l(:label_settings), l(:label_administration)) -%>
